<virtualhost *:{{ apache_port }}>
    
  servername {{ domain_name }}  
  documentroot /var/www/html/{{domain_name}}/html
  directoryindex index.php index.html 
  
  <directory "/var/www/html/{{domain_name}}/html">
     allowoverride all
  </directory>

</virtualhost>
