--------------------------------------
This host is managed by {{ ansible_managed }}.
-------------------------------------

------------------------
This system is {{ ansible_facts['fqdn'] }}.
-----------------------

-------------------------------------------------------------
This is a {{ ansible_facts['distribution'] }} version {{ ansible_facts['distribution_version'] }} systems.
-------------------------------------------------------------

----------------------------
Only use this with the permission of Akhil Karadi(Owner of the server).
----------------------------

--------------------------------------
Please report if you face any issues to {{ system_owner }}.
-------------------------------------
